version: '3.8'

services:
  web:
    image: registro.db.core.ucr.ac.cr:9500/django_ca:latest
    env_file:
      - .env
    secrets:
      - ca.ucr.ac.cr.crt
      - ca.ucr.ac.cr.key
    volumes:
      - static_volume: /app/src/staticfiles
      - ca_data: /shared/ca
    deploy:
      replicas: 3
      placement:
        constraints:
          - node.labels.target == django_ca
    networks:
      - django_ca

  nginx:
    image: nginx:latest
    depends_on:
      - web
    configs:
      - source: nginx_conf
        target: /etc/nginx/conf.d/default.conf
    volumes:
      - static_volume:/staticfiles:ro
    deploy:
      mode: global
      placement:
        constraints:
          - node.labels.target == django_ca
    ports:
      - "7000:80"
    networks:
      - django_ca

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: django_ca
      POSTGRES_USER: django_ca
      POSTGRES_PASSWORD: 123456
    deploy:
      placement:
        constraints:
          - node.role == manager
    networks:
      - django_ca

secrets:
  ca.ucr.ac.cr.crt: { external: true }
  ca.ucr.ac.cr.key: { external: true }

configs:
  nginx_conf:
    file: ./nginx.conf            

volumes:
  postgres_data:
  static_volume:
  ca_data:

networks:
  django_ca:
    driver: overlay
    attachable: true
