version: '3.8'

services:
  web:                          # Django + Gunicorn
    image: registro.db.core.ucr.ac.cr:9500/django_ca:latest
    env_file:
      - .env
    secrets:
      - ca.ucr.ac.cr.crt
      - ca.ucr.ac.cr.key
    volumes:
      - static_volume:/app/staticfiles
      - ca_data:/shared/ca
    deploy:
      replicas: 3
      placement:
        constraints:
          - node.labels.target == django_ca
      restart_policy:
        condition: on-failure
    depends_on:
      - db
    networks:
      - django_ca

  nginx:
    image: nginx:latest
    depends_on:
      - web
    volumes:
      - static_volume:/staticfiles
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    deploy:
      mode: global
      placement:
        constraints:
          - node.labels.target == django_ca
      restart_policy:
        condition: on-failure
    ports:
      - "7000:7000"
    networks:
      - django_ca

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=django_ca
      - POSTGRES_USER=django_ca
      - POSTGRES_PASSWORD=123456
    deploy:
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: on-failure
    networks:
      - django_ca

secrets:
  ca.ucr.ac.cr.crt:
    external: true
  ca.ucr.ac.cr.key:
    external: true

volumes:
  postgres_data:
  static_volume:
  ca_data:

networks:
  django_ca:
    driver: overlay
    attachable: true
